//Flexbox Layout Mixins
@mixin flex {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin flex-center-center-cl {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin flex-space-center-cl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

@mixin flex-spaceAround-center-cl {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

@mixin flex-center-center-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

@mixin flex-space-center-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

@mixin flex-spaceAround-center-row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}



@mixin flex-display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@mixin flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@mixin flex-column-wrap {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}
@mixin flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
@mixin flex-row-wrap {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;

}
@mixin flex-space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@mixin flex-justify-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
@mixin flex-justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
@mixin flex-order-1 {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
@mixin flex-order--1 {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
}
// complete order
@mixin order($int: 0) {
  -webkit-box-ordinal-group: $int + 1;
  -webkit-order: $int;
  -moz-order: $int;
  -ms-flex-order: $int;
  order: $int;
}

@mixin flex-center-vert {
  display: flex;
  align-items: center;
}

@mixin flex-center-horiz {
  display: flex;
  justify-content: center;
}
// CHILDERN CENTER
@mixin center-children {
  display: flex;
  justify-content: center;
  align-items: center;
}

//ABSOLUTE CENTER
@mixin center($width: null, $height: null) {
  position: absolute;
  top: 50%;
  left: 50%;

  @if not $width and not $height {
    transform: translate(-50%, -50%);
  } @else if $width and $height {
    width: $width;
    height: $height;
    margin: -($width / 2) #{0 0} -($height / 2);
  } @else if not $height {
    width: $width;
    margin-left: -($width / 2);
    transform: translateY(-50%);
  } @else {
    height: $height;
    margin-top: -($height / 2);
    transform: translateX(-50%);
  }
}

@mixin flex-grow($int: 0) {
  -webkit-box-flex: $int;
  -webkit-flex-grow: $int;
  -moz-flex-grow: $int;
  -ms-flex-positive: $int;
  flex-grow: $int;
}

@mixin flex-shrink($int: 1) {
  -webkit-flex-shrink: $int;
  -moz-flex-shrink: $int;
  -ms-flex-negative: $int;
  flex-shrink: $int;
}

@mixin flex-basis($value: auto) {
  -webkit-flex-basis: $value;
  -moz-flex-basis: $value;
  -ms-flex-preferred-size: $value;
  flex-basis: $value;
}



