//$background-url: var(--background-url);
//$text-color-01: var(--text-color-01);
// Font Family  definition

$font-family-Lalezar: Lalezar, sans-serif;

:root {
  --primary: #0d6efd;
  --secondary: #6c757d;
  --RGBsecondary: 108, 117, 125;
  --success: #198754;
  --info: #0dcaf0;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #212529;
  --official: #f6821f;
  --gray: #d9d9d9;
}